<h1>Biblioteca Gutenberg</h1>
<br>
<%= form_tag("/", method: 'post') do %>
  <%= text_field_tag(:busque) %>
  <%= submit_tag("Buscar") %>
<% end %>



<table class="ui fixed sigle line sortable celled table">
    <thead>
        <tr>
            <th>Palabra</th>
            <th>cantidad</th>
            <th>Nombre de archivo</th>
        </tr>
    </thead>
    <tbody>
    <% @documentos.each do |documento| %>
    <tr>
        <td><%= documento.word %></td>
        <td><%= documento.numero %></td>
        <td><%= documento.nameFile %></td>
    </tr>
    <% end %>
    </tbody>
</table>

