<p id="notice"><%= notice %></p>


<!-- Search Bar -->
<div class="ui secondary menu">
    <div class="right menu">
        <div class="item">
            <%= form_tag archivos_path,method: :get do %>
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <%= text_field_tag :search,params[:search], placeholder: 'Buscar...' %>
                <%= button_tag "Buscar", name: nil, class: 'ui teal button', data:{disable_with: "<i class='fa fa-spinning fa-fw></i> Buscando..."}%>
            </div>
            <%end%>
        </div>
    </div>
</div>


<h1>Archivos</h1>

<table class ="ui fixed single line sortable celled table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Body</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @archivos.each do |archivo| %>
      <tr>
        <td><%= archivo.titulo %></td>
        <td><%= archivo.autor %></td>
        <td><%= archivo.body %></td>
        <td><%= link_to 'Show', archivo %></td>
        <td><%= link_to 'Edit', edit_archivo_path(archivo) %></td>
        <td><%= link_to 'Destroy', archivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Archivo', new_archivo_path %>
