<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @archivo.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @archivo.autor %>
</p>

<p>
  <strong>Body:</strong>
  <%= @archivo.body %>
</p>

<%= link_to 'Edit', edit_archivo_path(@archivo) %> |
<%= link_to 'Back', archivos_path %>
